.container {
  font-family: Arial, sans-serif;
  background-color: #e1f3e8;
  width: 500px;
  border-radius: 30px;
}

.container .items {
  display: flex;
  margin: 0 40px;
  align-items: center;
  border-bottom: 1px solid #d5eade;
  padding-top: 30px;
  padding-bottom: 10px;
}

.items .item-icon {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background-color: #00c57a;
  color: #fff;
  padding: 15px 18px;
  border-radius: 25%;
}

.items .info {
  padding-left: 12px;
  flex-grow: 1;
}

.info .title {
  font-size: 20px;
  font-weight: bold;
  color: #5c7667;
  padding-bottom: 8px;
}

.info .content {
  font-size: 15px;
  color: #91a79b;
}

.items .item-icon-1 {
  display: flex;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  color: #00c57a;
  padding: 15px 18px;
}

.info .title-1 {
  font-size: 18px;
  color: #7e9689;
}

.images {
  display: flex;
}

.images .image-item {
  width: 30px;
  height: 30px;
  background-image: url("https://picsum.photos/100/100");
  background-size: cover;
  background-position: center;
  margin: 5px;
  border-radius: 15%;
}