body {
  background-color: #fff;
  font-family: sans-serif;
  width: 400px;
  height: 200px;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
  background-color: #FFF;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 14px;
  color: #4d4d4d;
}

p {
  color: #666;
  font-size: 20px;
  padding-left: 5px;
}

.list-avatar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 20px;
}

li{
  margin: 5px;
}
img{
  border-radius: 10%;
  border: 0px;
}